@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap');

@font-face {
    font-family: 'Tajawal';
    src: url(fonts/Tajawal-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Tajawal';
    src: url(fonts/Tajawal-Bold.ttf);
    font-weight: 700;
}

:root {
    /*====Body====*/
    --body-background-color: #00041a;

    /*====Buttons and links====*/
    --button-color: #ffffff;
    --button-hover-color: #005772;
    --button-text-color: #000000;

    /*====Carts====*/
    --cart-border-color: #ffffffff;
    --cart-background-color: linear-gradient(to top left, rgba(16, 0, 162, 0.471), rgba(15, 15, 15, 0.075));
    --cart-text-color: #fefeff;

    /*====Titles====*/
    --title-color: #000000;
    --title-background: linear-gradient(to top left, #ffffff2a, #ffffffab);
    --title-border-color: #ffffff;
}

body, html {
    background-color: var(--body-background-color);
    color: white;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    min-height: 100vh;
}

.dot-cyan {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #36d6aa;
    border-radius: 50%;
    vertical-align: middle;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-style: oblique;
    border: 2px solid var(--title-border-color);
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0  0 10px cyan;
    padding: 10px;
    margin: 20px;
    transition: all .3s;
    color: cyan;
}

h1:hover {
    box-shadow: 0 0 20px cyan, 0 0 40px cyan;
    transform: translateY(-8px);
}

.btn-link {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    transition: .4s all;
}

.btn-link:hover {
    background-color: var(--button-hover-color);
}
/**/
.card {
    border: 1px solid var(--cart-border-color);
    background: var(--cart-background-color);
    color: var(--cart-text-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    text-align: left;
    margin: 30px auto;
    transition: .3s ease-in;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    text-align: right;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 8px 8px 8px rgb(0, 0, 0);
}
hr {
    background-color: #ffffff48;
    border: none;
    height: 2px;
}

.line {
    background-color: #ffffff48;
    border: none;
    height: 40px;
    display: inline-block;
    width: 2px;
    vertical-align: middle;
}

.loader {
    width: 100%;
    height: 30px;
    border-radius: 10px;

    background-color: #dedede6a;
}

.loader-inner {
    border-radius: 10px;
    width: 100%;
    height: 100%;

    background-color: black;
}

.loader-inner {
    animation: loader 3s;
}

@keyframes loader {
    0% {width: 10%;}
    100% {width: 100%;}
}

a {
    display: inline-block;
    background-color: #fefefe5a;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;

    transition: all .3s;
}

a:hover {

    width: 100%;
}

.current-page {
    background-color: #00e1ff79;
}

.link-con {
    display: inline;
}